# Logs
logs
*.log

# IDE files
.vscode
typings/
jsconfig.json

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.nyc_output


# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# EcmaScript 5 files
# include so we can see the test coverage *.js
